<header>
	<div class="jumbotron text-center" id="heading">
		<div class="container intro-text">
			<h1>Hello</h1>
			<div class="linie-main">
			</div>
			<h2>Welcome to Ng-Casino</h2>
		</div>
		<div class="top-moving-4">
		</div>
		<ul class="social-icons">
			<li class="social-icons-list"><a href="https://github.com/CapleaIonut-Alexandru/Ng-Casino" class="github"></a></li>
			<li class="social-icons-list"><a href="https://www.linkedin.com/in/caplea-ionut-alexandru-019607123?trk=nav_responsive_tab_profile_pic" class="linkedin"></a></li>
			<li class="social-icons-list"><a href="" class="gmail" title="contact me!" data-toggle="popover" data-content="capleaia@gmail.com" data-trigger="click" data-placement="top"></a></li>
			<li class="social-icons-list"><a href="" class="phone-contact" title="contact me!" data-toggle="popover" data-content="0743902698" data-trigger="click" data-placement="right"></a></li>
			<li class="social-icons-list"><a href="https://www.facebook.com/edt.axum" class="facebook"></a></li>
			<li class="social-icons-list"><a href="https://www.instagram.com/axuminho/?hl=ro" class="instagram"></a></li>
		</ul>    
		<div class="hasurat">
		</div>
	</div>
</header>